@use "../config/variables" as *;
@use "../mixins/desktop" as *;
@use "../mixins/to-desktop" as *;

.icon-list {
    display: grid;
    @include to-desktop{
        justify-items: center;
        gap: 56px;
    
       
    }

    @include desktop{
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        align-items: center;
       
    }
    margin-bottom: 9rem;
    // flex-direction: column;
    // flex-wrap: wrap;

    
    & img {
        @include to-desktop{
            width: 40%;
        }
    }
}